fastapi==0.115.2
uvicorn[standard]==0.30.0
transformers==4.37.2
pydantic==1.10.12
numpy
scikit-learn
SQLAlchemy==2.0.36
python-multipart
passlib[bcrypt]
pyjwt
fastapi
uvicorn
scikit-learn
numpy
pandas
transformers==4.37.2
